*{
    font-family: 'Times New Roman', Times, serif;
}
.admin{
    width: 250px;position: relative;left: 30px; background: linear-gradient(rgb(243, 255, 68),black)
}
.admin .button{display: flex;flex-wrap: wrap;
    justify-content: space-between;

}.admin .inp{
    margin-bottom: 20px;
}
.admin .button .btn{
    padding:  20px; font-size: large;font-weight: bold;
}
.admin .inp input{
    width: 245px;height: 30px;
}


